.secondary-task-board {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
