* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  min-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow-y: hidden;
}

header {
  height: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #ffd8be;
}

main {
  position: relative;
  flex: 1;
  display: flex;
  overflow-y: auto;
}

input {
  width: 100%;
}

input[type="date"],
select {
  padding: 0.25rem;
}

textarea {
  width: 100%;
  resize: none;
  overflow: auto;
}

img {
  display: block;
}

button {
  border: none;
  border-radius: 4px;
  background-color: white;
}

button:hover {
  filter: brightness(0.85);
}

.dark-background-overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 80px;
  left: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: background-color 0.4s ease-in-out;
}

.no-task-background {
  background-image: url("../image/no-tasks-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overdue-task-board {
  padding: 2rem;
  border: 2px solid red;
  box-shadow: 0 0 2px red;
  border-radius: 16px;
}

.empty-date-task-board-msg {
  display: flex;
  align-self: flex-start;
}

.tab {
  padding: 1rem;
  border-radius: 4px;
  background-color: #f8f7ff;
}

.tab:hover {
  filter: brightness(0.85);
}

.linebreak {
  width: 100%;
  margin: 1rem auto;
  border-top: 1px solid grey;
}

.error {
  border-color: red;
  box-shadow: 0 0 2px red;
}

.error-field {
  width: 100%;
}

.error-message {
  color: red;
}

.completed {
  text-decoration: line-through;
  color: grey;
}

.fade-in-out {
  opacity: 0;
  transition: opacity 0.5s;
}

.fade-in-out:hover {
  opacity: 1;
}

/* Only used if viewport width <= 1050 px */
.closed {
  /* transform: translateX(-270px); */
  left: -270px;
}

/* Moves <div class="main-content>"*/
/* Must be half of <div class="menu-bar> to remain centered on the app. */
/* Only used if viewport width <= 1050 px */
.closed + div {
  /* transform: translateX(-135px); */
  margin: 0;
}

.hide {
  visibility: hidden;
  overflow: hidden;
}
