* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid black;
}

textarea {
  resize: none;
  overflow: auto;
}

img {
  width: 100%;
  display: block;
}

.app-logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.app-logo-container > img {
  height: 2.25rem;
  width: min-content;
}

.app-logo-container > h2 {
  font-size: 2.25rem;
}

.menu-button, .view-button {
  height: 35px;
  width: 35px;
}

.add-task-button {
  margin-top: 0.5rem;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid black;
}

.task-header {
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.task-description {
  font-size: 90%;
}

.checkbox {
  height: 16px;
  width: 16px;
  border: 2px solid blue;
  border-radius: 25%;
  text-align: center;
}

.completed {
  text-decoration: line-through;
  color: grey;
}

.fade-in-out {
  opacity: 0;
  transition: opacity 0.5s;
}

.fade-in-out:hover {
  opacity: 1;
}
